<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      &#127869 The Tech Blog
    </h2>
  </div>
  <!-- For each dish in the array of dish objects, the following <div> will be rendered. -->
  {{#each posts as |post|}}
    <div class="post col-md-5">
      <!-- We use dish.id instead of <od> and <li> elements. -->
      <p>
        {{post.id}}.
        {{post.post}}
      </p>
    </div>
    <div class="col-md-7">
      <p></p>
    </div>
  {{/each}}
</div>